/************************************
ePub-base 3.0 ePubLibre - epl.css 
*************************************
NO MODIFIQUE ESTA HOJA DE ESTILOS 
*************************************/
/*** RESET ***/
article, address, aside, blockquote, canvas, dd, details, div, dl, dt, figure, figcaption, footer, h1, h2, h3, h4, h5, h6, header, hr, li, main, nav, ol, p, pre, section, summary, ul {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

/* asegurar retrocompatibilidad de etiquetas de bloque HTML5 */
article, aside, figure, figcaption, footer, header, main, nav, section {
  display: block;
}

a, abbr, b, bdi, bdo, cite, code, data, del, dfn, em, i, ins, kbd, mark, s, samp, small, span, strong, sub, sup, time, u, var {
  font-size: inherit;
  vertical-align: baseline;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
}

[hidden] {
  display: none;
}

/******************* ELEMENTOS GLOBALES *******************/
body {
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  line-height: 1.3;
  padding: 0;
  orphans: 2;
  widows: 2;
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  adobe-hyphenate: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-before: 2;
  -webkit-hyphenate-limit-after: 2;
  hyphenate-limit-chars: 5 2 2;
  -webkit-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: page;
  hyphenate-limit-last: page;
}

canvas, iframe, img, video {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

img, svg {
  object-fit: contain;
  vertical-align: bottom;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

figure, .ilustra {
  margin: 1em 0;
  text-align: center;
  text-indent: 0;
}

figcaption {
  margin: 0.5em 0 0;
  font-size: 85%;
  text-indent: 0;
}

a {
  color: blue;
  text-decoration: underline;
}

a:visited {
  color: purple;
}

/*** Llamadas a notas del mismo color del texto ***/
a[role="doc-noteref"] {
  font-weight: normal;
  font-style: normal;
  color: inherit;
}

sub, sup {
  font-size: 0.75em;
  line-height: 0;
  position: static;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

/*** Tipografía ***/
.serif {
  font-family: serif;
}

.sans {
  font-family: sans-serif;
}

code, kbd, samp, pre, .mono {
  font-family: monospace;
}

i, em, cite, dfn, var, .cursiva {
  font-style: italic;
}

i i, i cite, i dfn, i em, cite i, cite cite, cite dfn, cite em, dfn i, dfn cite, dfn dfn, dfn em, em i, em cite, em dfn, em em, .cursiva i, .cursiva cite, .cursiva dfn, .cursiva em {
  font-style: normal;
}

b, strong, .negrita {
  font-weight: bold;
}

pre {
  margin: 1em 0 1em 5%;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-tab-size: 2;
  tab-size: 2;
}

ins, u, .subrayado {
  text-decoration: underline;
}

del, s, .tachado {
  text-decoration: line-through;
}

mark {
  background-color: yellow;
  color: inherit;
}

.grande {
  font-size: larger;
}

.normal {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.oculto {
  display: none;
}

/*** Alineación ***/
.izquierda, .izquierda p {
  text-align: left;
  text-indent: 0;
}

.derecha, .derecha p {
  text-align: right;
  text-indent: 0;
}

.centrado, .centrado p {
  text-align: center;
  text-indent: 0;
}

p, li, dd, blockquote, figcaption, .justificado, .justificado p {
  text-align: justify;
}

.asangre, .asangre p {
  text-indent: 0;
}

.sangria, .sangria p {
  text-indent: 1.5em;
}

.sinmargen {
  margin: 0;
}

figcaption, th, td {
  orphans: 1;
  widows: 1;
}

/*** Citas ***/
blockquote {
  display: block;
/* para Nook */
  margin: 1em 9%;
}

blockquote, q {
  quotes: none;
}

/*** Salto de contexto ***/
hr {
  display: block;
  width: 100%;
  height: 2.5em;
  margin: 0;
  border: none;
  background: none;
  color: inherit;
}

/*** Evita dividir elementos entre páginas ***/
figure, hr, .bloque, .aviso, .ilustra {
  page-break-inside: avoid;
  break-inside: avoid;
}

/*** Evita dividir elementos entre líneas ***/
abbr, .nosep {
  white-space: nowrap;
}

/*** Listas y tablas ***/
dl, ol, ul {
  margin: 1em 0;
}

ol, ul {
  padding-left: 8%;
}

ol ol, ul ul {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

dt, pre {
  text-align: left;
}

dd {
  margin-left: 10%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table, th, td {
  border-color: currentColor;
/* bordes acorde a tema claro/oscuro */
}

th {
  background: none;
  background-color: transparent;
/* corrige encabezados de tablas en KOReader */
}

/*** Valores mínimos para los encabezados ***/
h1, h2, h3, h4, h5, h6 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0;
  text-align: center;
  text-indent: 0;
}

/*** Evita dividir y situar encabezados al final de página ***/
h1, h2, h3, h4, h5, h6, caption, dt, hr, th {
  page-break-inside: avoid;
  break-inside: avoid;
  page-break-after: avoid;
  break-after: avoid;
}

/*** Bloqueo de silabeo ***/
h1, h2, h3, h4, h5, h6, abbr, dt, pre, address, caption, code, var, kbd, samp, sub, sup, .izquierda, .derecha, .centrado, .nosep, .nosilabeo, #titulo p, #info p {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -epub-hyphens: none;
  adobe-hyphenate: none;
  hyphens: none;
}

/* Prevenir que se añada una página en blanco o espacio innecesario al final de la página/capítulo */
@supports (margin-bottom: 0) {
  body > :last-child, body > section > :last-child {
    margin-bottom: 0;
  }
}

/******************* TIPOGRÁFIA OPENTYPE *******************/
/*** Versalitas ***/
.smallcaps {
  font-variant: small-caps;
}

@supports (font-variant-caps: small-caps) {
  .smallcaps {
    font-variant: normal;
    font-variant-caps: small-caps;
  }
}

/*** Mayúsculas bajas ***/
small, .versalita {
  font-size: smaller;
}

@supports (font-variant-caps: all-small-caps) {
  .versalita {
    font-size: inherit;
    font-variant-caps: all-small-caps;
  }
}

/*** numeros OSF/proporcionales ***/
.osfnum, .smallcaps, .versalita {
  font-variant-numeric: oldstyle-nums proportional-nums;
}

/*** numeros lineales/proporcionales ***/
h1, h2, h3, h4, h5, h6, dt, sup, sub, a[role="doc-noteref"], a[role="doc-backlink"], #titulo, #info, .linum {
  font-variant-numeric: lining-nums proportional-nums;
}

/*** numeros lineales/tabulares ***/
table, .tabnum {
  font-variant-numeric: lining-nums tabular-nums;
}

/* texto de código */
code, kbd, samp, var, .mono {
  font-kerning: none;
  font-variant-ligatures: none;
  font-variant-numeric: lining-nums slashed-zero;
}

/************* ESTILOS DE SECCIONES FIJAS DE EPL *************/
.cubierta {
  margin: 0;
  padding: 0;
  text-indent: 0;
  font-size: 0;
  clear: both;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  height: 95vh;
}

.cubierta img {
  height: 100%;
  width: auto;
}

.tlogo {
  margin: 15% 0 8%;
  text-align: center;
}

.exlibris {
  margin: 5% 0 8%;
  text-align: center;
}

.tlogo img, .exlibris img {
  width: 25%;
}

.tautor, .ttitulo, .tsubtitulo, .tserie, .trevision, .tfirma {
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
  margin: 0 2%;
  text-align: center;
  text-indent: 0;
}

.tautor {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 0.5em;
  color: #525252;
}

.ttitulo {
  font-size: 1.8em;
}

.tsubtitulo, .tserie, .tfirma {
  font-size: 1em;
  margin-top: 0.3em;
}

.trevision {
  font-size: 0.8em;
  margin-top: 2.5em;
  color: #525252;
}

.tfirma {
  font-size: 0.65em;
}

.tfecha {
  font-size: 1em;
  font-weight: normal;
  color: #525252;
}

.sinopsis {
  margin-top: 10%;
}

.nota {
  padding-top: 1em;
  page-break-after: always;
/* salto de página en notas para RMSDK */
}

@supports (margin-top: 1em) {
/* Anular salto para otros lectores */
  .nota {
    padding-top: 0;
    margin-top: 1em;
    page-break-after: auto;
  }
}

.sinopsis p, .autor, .autor p, .nota p {
  font-size: 1em;
  margin: 0.5em 0 0;
  text-indent: 0;
}

#info {
  font-size: 0.8em;
  width: 90%;
  margin: 10% 5% 0;
}

#info p {
  text-align: left;
  text-indent: 0;
}

/*** Avisos en la página info ***/
.aviso {
  display: block;
  clear: both;
  line-height: 1.2;
}

.aviso p {
  font-family: sans-serif;
}

.aviso img {
  width: 3em;
  padding: 0 10px 5px 0;
  float: left;
}

/*** Página del autor ***/
.autor_foto {
  width: 50%;
}

/*** Clases para Kindle ***/
@media amzn-kf8 {
  body {
    font-family: Bookerly, Palatino, Caecilia, serif;
/* evitar fuente sans por defecto en Kindle AZW3 */
  }

  sup {
    vertical-align: 20%;
  }

  .versalita {
    font-size: inherit;
    text-transform: lowercase;
    font-variant: small-caps;
  }

  .nota {
    padding-top: 0;
    margin-top: 1em;
    page-break-after: auto;
  }
}